#play{
    text-align: center;
}
.level-title{
    font-size: 20px;
    color: blue;
    text-align: center;
}
.level-item{
    color: #888888;
    font-size: 18px;
    display: block;
    text-align: center;
    margin: 10px;
}
input[name=level]{
    display: none;
}
.level-item:hover, [name=level]:checked + label{
    color: black;
}
.start-play{
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
    outline: none;

}
#plaing-field table{
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}
.plaing-cell{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.result{
    margin: 20px;
    padding: 20px;
    color: white;
    font-size: 18px;
    background-color: green;
    display: inline-block;
}
.result.fail{
    background-color: red;
}