.movies-list{
    display: flex;
    flex-wrap: wrap;
}
.movie-item{
    width: calc(33% - 40px);
    box-shadow: black 0 0 2px 0;
    margin: 10px;
    padding: 10px;
}

.movie-item-title {
    text-align: center;
}
.movie-item-subtitle{
    font-weight: bold;
    padding-right: 7px;
}
.characters span{
    padding: 5px 10px;
}

.loader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #000000;
    border-color: #000000 transparent #000000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

